@import 'mixins';
.header{
    background-color: #F9F9F9;
    width: 100%;
    height: 56px;
    padding: 0px 100px;
    @include flex-container(center, space-between);
    .left{
        height: 100%;
        @include flex-container(center, center);
        img{
            max-height: 60%;
        }
    }
    .right{
        @include flex-container(center, center);
        gap: 16px;
        .name{
            @include font(16,regular, #404040);
        }
    }
}