@import 'mixins';

.client {
    width: 100%;
    height: 100%;
    @include flex-container(center, flex-start, column);

    .header {
        width: 100%;
    }

    .intro {
        width: 100%;
        padding: 20px 100px;
        @include flex-container(center, space-between);

        .heading {
            @include font(34, bold, #091E42);
            line-height: 51px;
            letter-spacing: 0.25px;
            gap: 4px;

            .desc {
                @include font(14, regular, #848EA0);
                line-height: 21px;

                span {
                    @include font(16, bold, #848EA0);
                }
            }
        }

        .joining-info {
            background: #FFFBF3;
            padding: 16px 24px 16px 16px;
            @include flex-container(center, center);

            .days {
                @include flex-container(center, center, column);
                border-right: 1px solid #DDDDDD;
                padding-right: 16px;
                @include font(34, bold, #FFB414);
                line-height: 51px;
                letter-spacing: 0.25px;

                .days-desc {
                    @include font(14, light, #465671);
                    line-height: 21px;
                    letter-spacing: 0.1px;

                }
            }

            .joining-desc {
                padding-left: 16px;
                @include flex-container(flex-start, center, column);
                @include font(14, light, #091E42);
                line-height: 21px;
                letter-spacing: 0.25px;

                .date {
                    @include font(14, regular, #091E42);
                }
            }
        }
    }

    .tasks {
        width: 100%;
        padding: 0px 100px;
        @include flex-container(center, flex-start, column);

        hr {
            width: 100%;
            // height: 1px;
            border-top: 1px solid #E6E8EC;
        }

        .task-heading {
            margin-top: 24px;
            @include font(20, regular, #091E42);
            line-height: 30px;
            letter-spacing: 0.15px;
        }

        .tabs {
            width: 100%;
            gap: 14px;
            @include flex-container(center, flex-start);
            flex-wrap: wrap;

            .tab {
                width: calc(33% - 10px);
                padding: 8px 12px;
                border: 1px solid #E6E8EC;
                border-radius: 8px;
                @include flex-container(center, space-between);

                .left {
                    @include font(12, regular, #848EA0);

                    .title {
                        @include font(14, bold, #091E42);
                    }
                }
            }
        }
    }
}

.pop-box {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba($color: #000000, $alpha: 0.2);
    @include flex-container(center, center);

    .main-pop {
        padding: 24px 24px 0px 24px;
        @include flex-container(center, flex-start, column);
        border-radius: 4px;
        width: 50%;
        background-color: #fff;

        .header {
            @include flex-container(flex-start, space-between);
            width: 100%;
            border-bottom: 1px solid #E6E8EC;
            padding-bottom: 16px;
            @include font(20, regular, #091E42);
            letter-spacing: 0.15px;

            .close {
                width: 36px;
                height: 36px;
                @include flex-container(center, center);
                border-radius: 100px;
                border: 1px solid #E6E8EC;

                svg {
                    width: 10.5px;
                    height: 10.5px;
                }
            }
        }

        .desc {
            margin-top: 24px;
            @include font(12, light, #465671);
            width: 100%;
            line-height: 20px;
        }

        .file-upload {
            width: 100%;
            background-color: #eee;
            border: 1px dashed #aaa;
            margin-bottom: 30px;
        }
        .file-upload:before{
            border: 10px dashed #aaa;
        }
        .textarea{
            width: 100%;
            height: 200px;
            textarea{
                resize: none;
                width: 100%;
                height: 100%;
                border: 1px solid #E6E8EC;
                outline: none;
                border-radius: 4px;
                padding: 8px;
            }
        }

        .dropzone {
            position: relative;
            top: 0px;
            left: 0px;
            min-height: 200px;
            display: table;
            width: 100%;
            height: 100%;
        }

        .text-wrapper {
            vertical-align: middle;
            height: 100%;
            width: 100%;
            @include flex-container(center, center, column);
            .img{
                margin-bottom: 20px;
            }
            .browse {
                padding-left: 3px;
                max-width: 150px;
                position: relative;
                @include font(14, light, #465671);

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .supported{
                margin-top: 5px;
                @include font(12, light, #848EA0);
            }
        }

        .centered {
            @include font(14, regular, #091E42);
            @include flex-container(center, center);
        }
        hr {
            width: 100%;
            border-top: 1px solid #E6E8EC;
        }
        .bottom{
            width: 100%;
            padding: 20px 0;
            @include flex-container(center, flex-end);
            .cta{
                padding: 8px 20px;
                border-radius: 100px;
                background: #FFB414;
                @include font(12, regular, #091E42);
            }
            .disable{
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}