@font-face {
  font-family: "jt-black";
  src: url(~src/assets/fonts/JioType/JioType-Black.ttf) format("truetype");
}

@font-face {
  font-family: "jt-bold";
  src: url(~src/assets/fonts/JioType/JioType-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "jt-light";
  src: url(~src/assets/fonts/JioType/JioType-Light.ttf) format("truetype");
}

@font-face {
  font-family: "jt-light2";
  src: url(~src/assets/fonts/JioType/JioType-Light2.ttf) format("truetype");
}

@font-face {
  font-family: "jt-lightItalic";
  src: url(~src/assets/fonts/JioType/JioType-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "jt-medium";
  src: url(~src/assets/fonts/JioType/JioType-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "jt-medium2";
  src: url(~src/assets/fonts/JioType/JioType-Medium2.ttf) format("truetype");
}

@font-face {
  font-family: "jt-mediumItalic";
  src: url(~src/assets/fonts/JioType/JioType-MediumItalic.ttf)
    format("truetype");
}
