$primary-color: #ffffff;
$secondary-color: #bfa263;

$background-color1: #ffffff;
$background-color2: #11021a;
$button-bg-color: #66008d;
$border-color1: #42324b;
$border-color2: #403447;

$primary-font-family: "Appetite", sans-serif;
$primary-font-size: 14;
$primary-font-size-sm: 16;
$basePath: "~src/assets/images/bg/";
